@model GestorEquipamentos.Models.ProdutoModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

           <div class="d-flex flex-column gap-3 mb-3">
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    
                    <label asp-for="Status" class="control-label"></label>
                    <select class="form-select" aria-label="Status select" name="status">
                        <label asp-for="Status" class="control-label"></label>
                        <option value="Ativo" selected="@((Model.Status == "Ativo") ? "selected" : null)">Ativo</option>
                        <option value="Inativo" selected="@((Model.Status == "Inativo") ? "selected" : null)">Inativo</option>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </select>
                </div>
           </div>

            <div class="form-group  fw-bold float-end">
                <a asp-action="Index" class="btn btn-primary">Voltar para lista</a>
                <input type="submit" value="Alterar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
